In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import turicreate

# Load data

In [2]:
df_rating = pd.read_csv('BX-Book-Ratings.csv', encoding='cp1252') #ISO-8859-1 or cp1252
df_rating.head()

   user_id        isbn  rating
0   276725  034545104X       0
1   276726   155061224       5
2   276727   446520802       0
3   276729  052165615X       3
4   276729   521795028       6

In [3]:
df_books = pd.read_csv('BX-Books.csv', encoding='cp1252') #ISO-8859-1 or cp1252
df_books.head()

/home/zhenxuan/my_project_dir/my_project_env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,isbn,book_title,book_author,year_of_publication,publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [4]:
df_users = pd.read_csv('BX-Users.csv', encoding='cp1252') #ISO-8859-1 or cp1252
df_users.head()

/home/zhenxuan/my_project_dir/my_project_env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  user_id                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [5]:
df_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
user_id    1048575 non-null int64
isbn       1048575 non-null object
rating     1048575 non-null int64
dtypes: int64(2), object(1)
memory usage: 24.0+ MB

In [6]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271379 entries, 0 to 271378
Data columns (total 5 columns):
isbn                   271379 non-null object
book_title             271379 non-null object
book_author            271378 non-null object
year_of_publication    271379 non-null object
publisher              271377 non-null object
dtypes: object(5)
memory usage: 10.4+ MB

In [7]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278859 entries, 0 to 278858
Data columns (total 3 columns):
user_id     278859 non-null object
Location    278858 non-null object
Age         168096 non-null float64
dtypes: float64(1), object(2)
memory usage: 6.4+ MB

In [8]:
df_users['Age'].isnull().sum()/df_users['Age'].count()

0.6589270416904626

In [9]:
len(df_books['isbn'].unique())

271379

In [10]:
len(df_users['user_id'].unique())

278859

In [11]:
len(df_rating['user_id'].unique())

95513

In [12]:
len(df_rating['isbn'].unique())

322102

In [13]:
df_niubi = df_rating.merge(df_books, on='isbn', how='left')
df_niubi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 0 to 1048574
Data columns (total 7 columns):
user_id                1048575 non-null int64
isbn                   1048575 non-null object
rating                 1048575 non-null int64
book_title             941148 non-null object
book_author            941147 non-null object
year_of_publication    941148 non-null object
publisher              941146 non-null object
dtypes: int64(2), object(5)
memory usage: 64.0+ MB

In [14]:
df_niubi.head()

,user_id,isbn,rating,book_title,book_author,year_of_publication,publisher
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
1,276726,155061224,5,Rites of Passage,Judith Rae,2001,Heinle
2,276727,446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press
4,276729,521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press

In [15]:
df_niubi = df_niubi.merge(df_users, on='user_id', how='left')
df_niubi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
user_id                1048575 non-null object
isbn                   1048575 non-null object
rating                 1048575 non-null int64
book_title             941148 non-null object
book_author            941147 non-null object
year_of_publication    941148 non-null object
publisher              941146 non-null object
Location               1039014 non-null object
Age                    760395 non-null float64
dtypes: float64(1), int64(1), object(7)
memory usage: 80.0+ MB

In [16]:
# df_niubi = df_niubi.fillna(0)
df_niubi.head()

,user_id,isbn,rating,book_title,book_author,year_of_publication,publisher,Location,Age
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,NaN,NaN
1,276726,155061224,5,Rites of Passage,Judith Rae,2001,Heinle,NaN,NaN
2,276727,446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,NaN,NaN
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,NaN,NaN
4,276729,521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,NaN,NaN

In [17]:
df_niubi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
user_id                1048575 non-null object
isbn                   1048575 non-null object
rating                 1048575 non-null int64
book_title             941148 non-null object
book_author            941147 non-null object
year_of_publication    941148 non-null object
publisher              941146 non-null object
Location               1039014 non-null object
Age                    760395 non-null float64
dtypes: float64(1), int64(1), object(7)
memory usage: 80.0+ MB

In [18]:
len(df_niubi['user_id'].unique())

95513

In [19]:
len(df_niubi['isbn'].unique())

322102

In [20]:
df1 = df_niubi.drop(['Age', 'Location', 'publisher', 'year_of_publication', 'book_author', 'book_title'], axis=1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
user_id    1048575 non-null object
isbn       1048575 non-null object
rating     1048575 non-null int64
dtypes: int64(1), object(2)
memory usage: 32.0+ MB

In [21]:
df1.describe().astype(int)

        rating
count  1048575
mean         2
std          3
min          0
25%          0
50%          0
75%          7
max         10

In [22]:
#To cope up with computing power I have and to reduce the dataset size, I am considering users who have rated atleast 100 books
#and books which have atleast 100 ratings
counts1 = df1['user_id'].value_counts()
df1 = df1[df1['user_id'].isin(counts1[counts1 >= 100].index)]
counts = df1['rating'].value_counts()
df1 = df1[df1['rating'].isin(counts[counts >= 100].index)]

In [23]:
df1.reset_index(drop=True)

       user_id        isbn  rating
0       276925     6511929       0
1       276925  002542730X      10
2       276925    60520507       0
3       276925    60930934       0
4       276925    60951303       0
5       276925    99414732       7
6       276925   140154078       6
7       276925   140327592       0
8       276925   140367616       0
9       276925   141181222       0
10      276925   151010633       0
11      276925   192834312       0
12      276925   194216748       5
13      276925   240514866       0
14      276925   316666343       0
15      276925   345391810       0
16      276925   375400699       0
17      276925   385504209       8
18      276925  043527242X       0
19      276925   439284031       0
20      276925   439286182       0
21      276925   439286239       0
22      276925   449221148       0
23      276925   451527747       0
24      276925   486282112       0
25      276925   486424499       0
26      276925   553275283       8
27      276925   582530431       9
28      276925   590502123       0
29      276925   595132189       0
...        ...         ...     ...
603785  250764   449221180       0
603786  250764   449221873       0
603787  250764   449238342       0
603788  250764   449701956       0
603789  250764   449907481       0
603790  250764   451130995       0
603791  250764   451145097       0
603792  250764   451150406       0
603793  250764   451157516       0
603794  250764   451160533       0
603795  250764   451173139       0
603796  250764   451180410       0
603797  250764   451188497       0
603798  250764   451191013       0
603799  250764   451191692       0
603800  250764   451192001       0
603801  250764   451193911       0
603802  250764   451197232       0
603803  250764   451202309       0
603804  250764   451202953       0
603805  250764   451203615       0
603806  250764   451205626       0
603807  250764   451206711       0
603808  250764   451400763       0
603809  250764   451401387       0
603810  250764   451410777       0
603811  250764   452264464       8
603812  250764  048623715X       0
603813  250764   486256588       0
603814  250764   515069434       0

[603815 rows x 3 columns]

In [24]:
n_users = df1.user_id.unique().shape[0]
n_books = df1.isbn.unique().shape[0]
print(n_users)
print(n_books)

1684
228394

In [25]:
ratings = df_rating
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
user_id    1048575 non-null int64
isbn       1048575 non-null object
rating     1048575 non-null int64
dtypes: int64(2), object(1)
memory usage: 24.0+ MB

In [29]:
ratings_matrix = df1.reset_index().pivot_table(index='user_id', columns='isbn', values='rating')
user_id = ratings_matrix.index
isbn = ratings_matrix.columns
print(ratings_matrix.shape)
ratings_matrix.head()

(1684, 228394)

isbn,904492401X,*0452281903,*0515128325,0,0 00 612183 7,0 00 614494 2,0 7336 1053 6,0 75280 122 8,0 85550 000 x,0 907 062 008,...,UNGRANDHOMMED,X000000000,"YOUTELLEM,AND",Z380703475,ZR903CX0003,"\0432534220\""""","\2842053052\""""",b00005wz75,cn108465,cn113107
user_id,,,,,,,,,,,,,,,,,,,,,
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
ratings_matrix = ratings_matrix.fillna(0)

In [28]:
n_users = df1.user_id.unique().shape[0]
n_books = df1.isbn.unique().shape[0]
# n_users_train, n_users_test, n_books_train, n_books_test = train_test_split(n_users, n_books, test_size=0.5)

data_matrix = np.zeros((n_users, n_books))

for line in df1.itertuples():
    data_matrix[line[1]-1, line[2]-1] = line[3]

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [113]:
from sklearn.metrics.pairwise import pairwise_distances 

user_similarity = pairwise_distances(ratings_matrix, metric='cosine')
book_similarity = pairwise_distances(ratings_matrix.T, metric='cosine')

def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        #We use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'book':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

user_prediction = predict(ratings_matrix, user_similarity, type='user')
book_prediction = predict(ratings_matrix, book_similarity, type='book')

MemoryError:

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
ratings_train, ratings_test = train_test_split(df1, test_size=0.33, random_state=42)

In [27]:
train_data = turicreate.SFrame(ratings_train)
test_data = turicreate.SFrame(ratings_test)

In [28]:
popularity_model = turicreate.popularity_recommender.create(train_data, user_id='user_id', item_id='isbn', target='rating')

Preparing data set.

    Data has 404556 observations with 1684 users and 176319 items.

    Data prepared in: 0.466199s

404556 observations to process; with 176319 unique items.

In [29]:
popularity_recomm = popularity_model.recommend(users=[1,2,3,4,5],k=5)
popularity_recomm.print_rows(num_rows=25)

+---------+------------+-------+------+
| user_id |    isbn    | score | rank |
+---------+------------+-------+------+
|    1    | 935696229  |  10.0 |  1   |
|    1    | 140195408  |  10.0 |  2   |
|    1    | 3765309915 |  10.0 |  3   |
|    1    | 809423022  |  10.0 |  4   |
|    1    | 373160585  |  10.0 |  5   |
|    2    | 935696229  |  10.0 |  1   |
|    2    | 140195408  |  10.0 |  2   |
|    2    | 3765309915 |  10.0 |  3   |
|    2    | 809423022  |  10.0 |  4   |
|    2    | 373160585  |  10.0 |  5   |
|    3    | 935696229  |  10.0 |  1   |
|    3    | 140195408  |  10.0 |  2   |
|    3    | 3765309915 |  10.0 |  3   |
|    3    | 809423022  |  10.0 |  4   |
|    3    | 373160585  |  10.0 |  5   |
|    4    | 935696229  |  10.0 |  1   |
|    4    | 140195408  |  10.0 |  2   |
|    4    | 3765309915 |  10.0 |  3   |
|    4    | 809423022  |  10.0 |  4   |
|    4    | 373160585  |  10.0 |  5   |
|    5    | 935696229  |  10.0 |  1   |
|    5    | 140195408  |  10.0 |  2   |
|    5    | 3765309915 |  10.0 |  3   |
|    5    | 809423022  |  10.0 |  4   |
|    5    | 373160585  |  10.0 |  5   |
+---------+------------+-------+------+
[25 rows x 4 columns]

In [30]:
#Training the model
item_sim_model = turicreate.item_similarity_recommender.create(train_data, user_id='user_id', item_id='isbn', target='rating', similarity_type='cosine')

Preparing data set.

    Data has 404556 observations with 1684 users and 176319 items.

    Data prepared in: 0.454606s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 41.905ms                       | 59.25      |

| 52.556ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing the 279 most common items by brute force search.

Transposing user-item lists for use in nearest neighbor search.

+------------------------------------+------------+

| Elapsed Time (Data Transposition)) | % Complete |

+------------------------------------+------------+

| 3.075ms                            | 0          |

| 151.83ms                           | 100        |

+------------------------------------+------------+

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 361.601ms                           | 0                | 0               |

| 3.36s                               | 0                | 260             |

+-------------------------------------+------------------+-----------------+

Processing data in one pass using sparse lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 6.38s                               | 31.5             | 55635           |

| 9.40s                               | 47.5             | 84092           |

| 12.38s                              | 60               | 106120          |

| 15.44s                              | 79.75            | 140866          |

| 18.36s                              | 91.25            | 161226          |

| 32.93s                              | 100              | 176319          |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 34.1756s

In [50]:
users = df1.user_id.unique()
users = sorted(np.array(users).tolist())
users

[183,
 254,
 507,
 882,
 1424,
 1435,
 1733,
 1903,
 2033,
 2110,
 2276,
 2358,
 2442,
 2766,
 2891,
 2977,
 3363,
 3371,
 3757,
 3827,
 4017,
 4157,
 4385,
 5582,
 5903,
 6242,
 6251,
 6323,
 6543,
 6563,
 6575,
 6703,
 7105,
 7125,
 7158,
 7286,
 7346,
 7915,
 8066,
 8067,
 8245,
 8253,
 8284,
 8362,
 8454,
 8487,
 8681,
 8782,
 8890,
 8936,
 8971,
 9141,
 9417,
 9747,
 9856,
 9908,
 10030,
 10314,
 10354,
 10447,
 10560,
 10819,
 11120,
 11601,
 11629,
 11676,
 11724,
 11993,
 12538,
 12657,
 12824,
 12835,
 12982,
 13082,
 13093,
 13273,
 13540,
 13552,
 13582,
 13850,
 13935,
 13995,
 14079,
 14232,
 14387,
 14422,
 14456,
 14521,
 14638,
 14698,
 14958,
 15408,
 15418,
 15957,
 16106,
 16155,
 16161,
 16413,
 16488,
 16601,
 16634,
 16721,
 16795,
 16916,
 16943,
 16966,
 17190,
 17282,
 17507,
 17859,
 17950,
 18067,
 18082,
 18172,
 18401,
 19085,
 19664,
 19711,
 19842,
 20060,
 20115,
 20119,
 20201,
 20859,
 21014,
 21031,
 21252,
 21364,
 21404,
 21576,
 21659,
 22625,
 23288,
 23511,
 23571,
 23680,
 23768,
 23872,
 23902,
 24194,
 24433,
 24539,
 24921,
 24945,
 25131,
 25409,
 25436,
 25533,
 25601,
 25981,
 26084,
 26443,
 26516,
 26535,
 26544,
 26583,
 26593,
 26621,
 26813,
 26883,
 27140,
 27169,
 27462,
 27472,
 27617,
 27647,
 27788,
 27812,
 28204,
 28360,
 28523,
 28537,
 28591,
 28619,
 28634,
 28666,
 28938,
 29117,
 29209,
 29259,
 29526,
 29855,
 29915,
 30072,
 30261,
 30273,
 30276,
 30487,
 30509,
 30511,
 30533,
 30711,
 30712,
 30716,
 30735,
 30806,
 30810,
 30824,
 30972,
 31040,
 31226,
 31308,
 31315,
 31391,
 31466,
 31556,
 31611,
 31826,
 31846,
 31919,
 32122,
 32195,
 32440,
 32627,
 32721,
 32773,
 33145,
 33319,
 33580,
 33818,
 33888,
 33943,
 33974,
 34300,
 34588,
 35050,
 35407,
 35433,
 35718,
 35836,
 35857,
 35859,
 36003,
 36256,
 36299,
 36327,
 36554,
 36606,
 36609,
 36715,
 36836,
 36907,
 37019,
 37208,
 37293,
 37493,
 37538,
 37567,
 37644,
 37712,
 37950,
 38023,
 38273,
 38281,
 38464,
 38556,
 38589,
 38781,
 38802,
 39281,
 39345,
 39396,
 39467,
 39502,
 39616,
 39646,
 39773,
 40012,
 40415,
 40553,
 40647,
 40889,
 40943,
 41084,
 41227,
 41455,
 41700,
 41757,
 41781,
 41841,
 42093,
 42400,
 42718,
 42914,
 43021,
 43246,
 43619,
 43687,
 43806,
 43842,
 43910,
 44089,
 44296,
 44595,
 44728,
 44845,
 44893,
 44925,
 45557,
 46269,
 46351,
 46398,
 46443,
 46909,
 47316,
 47609,
 47971,
 48025,
 48046,
 48355,
 48494,
 48975,
 49109,
 49144,
 49154,
 49212,
 49422,
 49460,
 49889,
 50225,
 50547,
 50730,
 50849,
 50895,
 51094,
 51350,
 51386,
 51450,
 51526,
 51742,
 51883,
 52002,
 52044,
 52199,
 52203,
 52350,
 52584,
 52614,
 52853,
 52917,
 53174,
 53220,
 53392,
 53456,
 53614,
 53628,
 53729,
 54206,
 54218,
 54622,
 54828,
 54898,
 55075,
 55178,
 55187,
 55438,
 55490,
 55492,
 55493,
 55548,
 55734,
 55858,
 55892,
 55927,
 56039,
 56271,
 56360,
 56399,
 56447,
 56554,
 56856,
 56959,
 57006,
 57108,
 57449,
 57725,
 58067,
 58363,
 58911,
 59038,
 59150,
 59172,
 59189,
 59269,
 59390,
 59727,
 59971,
 60098,
 60244,
 60277,
 60319,
 60337,
 60569,
 60707,
 60797,
 60858,
 61028,
 61147,
 61427,
 61619,
 61667,
 61901,
 62009,
 62239,
 62272,
 62755,
 62862,
 62881,
 62891,
 62895,
 63394,
 63595,
 63714,
 63938,
 63956,
 64015,
 64241,
 64436,
 64440,
 65258,
 65584,
 65663,
 66385,
 66483,
 66680,
 66942,
 67079,
 67403,
 67547,
 67663,
 67840,
 67930,
 68156,
 68185,
 68249,
 68555,
 69042,
 69078,
 69211,
 69232,
 69355,
 69378,
 69389,
 69405,
 69684,
 69697,
 69721,
 69808,
 69971,
 70052,
 70065,
 70183,
 70222,
 70415,
 70585,
 70594,
 70666,
 70999,
 71470,
 71568,
 71612,
 71712,
 71739,
 72214,
 72352,
 72451,
 72992,
 73196,
 73394,
 73651,
 73681,
 73923,
 74709,
 75081,
 75115,
 75591,
 75595,
 75819,
 75860,
 76151,
 76223,
 76352,
 76482,
 76483,
 76499,
 76626,
 76818,
 76942,
 77181,
 77270,
 77383,
 77480,
 77809,
 77940,
 78448,
 78553,
 78783,
 78834,
 78846,
 78941,
 78973,
 79186,
 79441,
 79556,
 79942,
 80453,
 80538,
 80555,
 80683,
 80810,
 80908,
 80945,
 81045,
 81128,
 81207,
 81274,
 81368,
 81492,
 81560,
 81597,
 81609,
 81682,
 81771,
 81848,
 81977,
 82164,
 82407,
 82511,
 82831,
 82893,
 82926,
 83109,
 83287,
 83637,
 83671,
 83707,
 84024,
 84716,
 84831,
 85426,
 85526,
 85656,
 85701,
 85757,
 85993,
 86033,
 86145,
 86189,
 86202,
 86243,
 86392,
 86641,
 86835,
 86947,
 87141,
 87143,
 87555,
 87712,
 87746,
 87974,
 88122,
 88283,
 88652,
 88677,
 88693,
 88733,
 88793,
 88937,
 89014,
 89192,
 89307,
 89551,
 89602,
 89867,
 89891,
 90232,
 90766,
 91026,
 91113,
 91203,
 91266,
 91342,
 91832,
 91931,
 92405,
 92547,
 92652,
 92810,
 92853,
 92861,
 92979,
 93047,
 93085,
 93092,
 93147,
 93179,
 93363,
 93426,
 93629,
 94242,
 94347,
 94853,
 94923,
 94951,
 94985,
 95010,
 95193,
 95316,
 95359,
 95902,
 95903,
 95923,
 95932,
 95991,
 96054,
 96440,
 96448,
 96475,
 96554,
 96771,
 96776,
 97160,
 97324,
 97598,
 97754,
 97874,
 98297,
 98356,
 98391,
 98440,
 98499,
 98547,
 98647,
 98686,
 98723,
 98741,
 98758,
 98787,
 98904,
 99227,
 99441,
 99955,
 100088,
 100264,
 100459,
 100578,
 100644,
 100782,
 100822,
 100846,
 100906,
 101209,
 101305,
 101550,
 101606,
 101731,
 101851,
 101876,
 102275,
 102359,
 102532,
 102647,
 102702,
 102967,
 103304,
 103541,
 104058,
 104113,
 104211,
 104399,
 104429,
 104636,
 104657,
 104665,
 105028,
 105054,
 105108,
 105187,
 105374,
 105517,
 105745,
 105795,
 105937,
 105979,
 106007,
 106225,
 106273,
 106280,
 106816,
 106936,
 106988,
 107021,
 107244,
 107301,
 107453,
 107645,
 107784,
 107951,
 108005,
 108155,
 108285,
 108352,
 108405,
 108752,
 108773,
 108799,
 109461,
 109574,
 109783,
 109901,
 109955,
 110029,
 110076,
 110214,
 110267,
 110373,
 110440,
 110483,
 110746,
 110912,
 110934,
 110973,
 111174,
 111578,
 111847,
 111947,
 112001,
 112026,
 112083,
 112541,
 112765,
 112881,
 112914,
 113270,
 113334,
 113467,
 113519,
 113817,
 113904,
 113955,
 113983,
 114178,
 114216,
 114368,
 114414,
 114444,
 114446,
 114544,
 114865,
 114868,
 114988,
 115002,
 115003,
 115120,
 115234,
 115435,
 115490,
 115537,
 115692,
 116122,
 116210,
 116599,
 116866,
 116931,
 117111,
 117251,
 117384,
 117539,
 117594,
 118275,
 118434,
 118533,
 119248,
 119364,
 119369,
 119575,
 119749,
 119858,
 120090,
 120093,
 120548,
 120565,
 120598,
 120908,
 121170,
 121251,
 121606,
 121726,
 122429,
 122716,
 122793,
 122881,
 123056,
 123094,
 123095,
 123430,
 123460,
 123597,
 123608,
 123625,
 123790,
 123883,
 123981,
 124078,
 124079,
 124310,
 124363,
 124487,
 124489,
 124597,
 124688,
 124942,
 125039,
 125203,
 125287,
 125411,
 125519,
 125692,
 125774,
 126296,
 126492,
 126604,
 126693,
 126697,
 126736,
 127129,
 127200,
 127233,
 127359,
 127429,
 127826,
 127914,
 128085,
 128208,
 128696,
 128835,
 129008,
 129074,
 129084,
 129358,
 129465,
 129503,
 129563,
 129716,
 129851,
 130426,
 130438,
 130474,
 130554,
 130570,
 130571,
 130847,
 131027,
 131046,
 131099,
 131126,
 131402,
 131594,
 131675,
 131837,
 131855,
 132083,
 132173,
 132375,
 132492,
 132544,
 132663,
 132836,
 133296,
 133416,
 133567,
 133571,
 133689,
 133747,
 133868,
 134247,
 134434,
 134797,
 134837,
 134869,
 135045,
 135149,
 135265,
 135360,
 135458,
 135703,
 135831,
 136010,
 136139,
 136205,
 136252,
 136348,
 136382,
 136473,
 136509,
 137190,
 137336,
 137397,
 137589,
 137688,
 138010,
 138073,
 138097,
 138198,
 138441,
 138543,
 138578,
 138602,
 138844,
 138883,
 138995,
 139141,
 139387,
 139467,
 139742,
 139913,
 140000,
 140036,
 140069,
 140358,
 140826,
 140879,
 141210,
 141444,
 141491,
 141493,
 141710,
 141819,
 141901,
 141902,
 141958,
 142093,
 142121,
 142202,
 142256,
 142454,
 142524,
 143163,
 143175,
 143211,
 143253,
 143415,
 143792,
 143909,
 143968,
 144131,
 144194,
 144255,
 144531,
 144555,
 144910,
 145165,
 145369,
 145431,
 145449,
 145451,
 145619,
 145641,
 146113,
 146175,
 146230,
 146348,
 146564,
 146803,
 147141,
 147166,
 147224,
 147451,
 147686,
 147803,
 147847,
 147965,
 148199,
 148258,
 148712,
 148744,
 148798,
 148898,
 148966,
 149069,
 149084,
 149690,
 149907,
 149908,
 149934,
 150124,
 150498,
 150561,
 150896,
 150968,
 150979,
 151098,
 151107,
 151503,
 151589,
 151608,
 151702,
 151790,
 151806,
 152186,
 ...]

In [53]:
#Making recommendations
item_sim_recomm = item_sim_model.recommend(users=[183, 254, 507, 882, 1424], k=10)
item_sim_recomm.print_rows(num_rows=50)

+---------+------------+---------------------+------+
| user_id |    isbn    |        score        | rank |
+---------+------------+---------------------+------+
|   183   | 220333228X | 0.06718286235680741 |  1   |
|   183   | 810981521  | 0.06718286235680741 |  2   |
|   183   | 2203332328 | 0.06718286235680741 |  3   |
|   183   | 316358479  | 0.06718286235680741 |  4   |
|   183   | 1561632244 | 0.06718286235680741 |  5   |
|   183   | 316358452  | 0.06718286235680741 |  6   |
|   183   | 752866052  | 0.06718286235680741 |  7   |
|   183   | 1593370083 |         0.0         |  8   |
|   183   | 373218036  |         0.0         |  9   |
|   183   | 441693237  |         0.0         |  10  |
|   254   | 375803483  | 0.06036671939885841 |  1   |
|   254   | 3499129175 | 0.05913421089919108 |  2   |
|   254   | 970335520  | 0.05913421089919108 |  3   |
|   254   | 842384103  | 0.05688017438042839 |  4   |
|   254   | 185697829X | 0.05688017438042839 |  5   |
|   254   | 753450364  | 0.05688017438042839 |  6   |
|   254   | 916441237  | 0.05688017438042839 |  7   |
|   254   | 590434969  | 0.05688017438042839 |  8   |
|   254   | 809448696  | 0.05688017438042839 |  9   |
|   254   | 945564449  | 0.05688017438042839 |  10  |
|   507   | 425144305  | 0.11648734684648185 |  1   |
|   507   | 812535197  | 0.11648734684648185 |  2   |
|   507   | 312953607  | 0.10977799453954587 |  3   |
|   507   | 9176438635 | 0.10977799453954587 |  4   |
|   507   | 2266082272 | 0.10977799453954587 |  5   |
|   507   | 671853686  | 0.10977799453954587 |  6   |
|   507   | 3499129175 | 0.10977799453954587 |  7   |
|   507   | 2070361551 | 0.10977799453954587 |  8   |
|   507   | 2253004219 | 0.10977799453954587 |  9   |
|   507   | 848711696  | 0.10977799453954587 |  10  |
|   882   | 912365307  | 0.09784532541578467 |  1   |
|   882   | 380789353  | 0.08209359374913303 |  2   |
|   882   | 373834586  | 0.08209359374913303 |  3   |
|   882   | 399137149  | 0.08209359374913303 |  4   |
|   882   | 1551668807 | 0.08201611042022705 |  5   |
|   882   | 345384229  | 0.08035304194146936 |  6   |
|   882   | 551014180  | 0.08035304194146936 |  7   |
|   882   | 771008198  | 0.08035304194146936 |  8   |
|   882   | 525943013  | 0.08035304194146936 |  9   |
|   882   | 863698719  | 0.08035304194146936 |  10  |
|   1424  | 1883831105 |  0.1323236121850855 |  1   |
|   1424  | 233978275  | 0.12885965669856353 |  2   |
|   1424  | 140088032  | 0.12885965669856353 |  3   |
|   1424  | 3035000085 | 0.09560482291614308 |  4   |
|   1424  | 679310746  | 0.09560482291614308 |  5   |
|   1424  | 1582340277 | 0.09560482291614308 |  6   |
|   1424  | 143002589  | 0.09560482291614308 |  7   |
|   1424  | 553276484  | 0.09560482291614308 |  8   |
|   1424  |  60911395  | 0.09560482291614308 |  9   |
|   1424  | 8838914737 | 0.09560482291614308 |  10  |
+---------+------------+---------------------+------+
[50 rows x 4 columns]

In [32]:
class MF():

    # Initializing the user-movie rating matrix, no. of latent features, alpha and beta.
    def __init__(self, R, K, alpha, beta, iterations):
        self.R = R
        self.num_users, self.num_items = R.shape
        self.K = K
        self.alpha = alpha
        self.beta = beta
        self.iterations = iterations

    # Initializing user-feature and movie-feature matrix 
    def train(self):
        self.P = np.random.normal(scale=1./self.K, size=(self.num_users, self.K))
        self.Q = np.random.normal(scale=1./self.K, size=(self.num_items, self.K))

        # Initializing the bias terms
        self.b_u = np.zeros(self.num_users)
        self.b_i = np.zeros(self.num_items)
        self.b = np.mean(self.R[np.where(self.R != 0)])

        # List of training samples
        self.samples = [
        (i, j, self.R[i, j])
        for i in range(self.num_users)
        for j in range(self.num_items)
        if self.R[i, j] > 0
        ]

        # Stochastic gradient descent for given number of iterations
        training_process = []
        for i in range(self.iterations):
            np.random.shuffle(self.samples)
            self.sgd()
            mse = self.mse()
            training_process.append((i, mse))
        if (i+1) % 20 == 0:
            print("Iteration: %d ; error = %.4f" % (i+1, mse))

        return training_process

    # Computing total mean squared error
    def mse(self):
        xs, ys = self.R.nonzero()
        predicted = self.full_matrix()
        error = 0
        for x, y in zip(xs, ys):
            error += pow(self.R[x, y] - predicted[x, y], 2)
        return np.sqrt(error)

    # Stochastic gradient descent to get optimized P and Q matrix
    def sgd(self):
        for i, j, r in self.samples:
            prediction = self.get_rating(i, j)
            e = (r - prediction)

            self.b_u[i] += self.alpha * (e - self.beta * self.b_u[i])
            self.b_i[j] += self.alpha * (e - self.beta * self.b_i[j])

            self.P[i, :] += self.alpha * (e * self.Q[j, :] - self.beta * self.P[i,:])
            self.Q[j, :] += self.alpha * (e * self.P[i, :] - self.beta * self.Q[j,:])

    # Ratings for user i and moive j
    def get_rating(self, i, j):
        prediction = self.b + self.b_u[i] + self.b_i[j] + self.P[i, :].dot(self.Q[j, :].T)
        return prediction

    # Full user-movie rating matrix
    def full_matrix(self):
        return mf.b + mf.b_u[:,np.newaxis] + mf.b_i[np.newaxis:,] + mf.P.dot(mf.Q.T)

In [33]:
R = np.array(ratings_test.pivot(index = 'isbn', columns = 'user_id', values = 'rating').fillna(0))

ValueError: Index contains duplicate entries, cannot reshape

In [34]:
mf = MF(R, K=20, alpha=0.001, beta=0.01, iterations=100)
training_process = mf.train()
print()
print("P x Q:")
print(mf.full_matrix())
print()

NameError: name 'R' is not defined