In [1]:
import pandas as pd

df = pd.read_csv('Fish.csv')
df.head()

   Id  size         env
0   1    11  freshwater
1   2    12  freshwater
2   3   100   saltwater
3   4    13  freshwater
4   5    14  freshwater

In [2]:
df['env'] = df['env'].map({'freshwater':0,'saltwater':1})
df.head()

   Id  size  env
0   1    11    0
1   2    12    0
2   3   100    1
3   4    13    0
4   5    14    0

In [3]:
features = ['size']
target = ['env']

In [4]:
#Splitting data
split = int(len(df)*0.8)

X = df[features]
Y = df[target]

X_train = X[:split]
Y_train = Y[:split]

X_test = X[split:]
Y_test = Y[split:]

In [9]:
#Training
from SimpleLearningPackage import RandomModel

model = RandomModel()
model.fit(X_train,Y_train)
predictions = model.predict(X_test)
predictions

   0
0  0
1  0
2  0
3  1
4  0
5  0
6  1
7  0
8  0
9  1

In [12]:
#Testing
actual = Y_test.iloc[:,0].tolist()
result = pd.DataFrame(list(zip(actual,predictions[0].tolist())),columns=['Actual','Predict'])
correct = result[result['Actual']==result['Predict']]

Accuracy = len(correct)/len(result)

Accuracy

[0, 1, 0, 0, 1, 0, 0, 1, 0, 0]
[0, 0, 0, 1, 0, 0, 1, 0, 0, 1]

0.4